<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> 
        <link rel="stylesheet" type="text/css" href="/css/all.min.css" /> -->

    <%- include("../partial/head.ejs") %>
    <title>Document</title>
  </head>
  <style>
    body {
      padding: 0%;
      margin: 0%;
    }
    #top_menu li a {
      color: white;
    }
    .margin_item {
      margin-left: 60%;
    }
    .margin_item li {
      margin-left: 10px;
    }
    .orange_text_color {
      color: #fd6342;
    }
    .gray_text_color {
      color: #252b3b;
    }
    .orange_text_color {
      color: #fd6342;
    }
    .gray_background_color {
      background: #252b3b;
    }
    .orange_background_color {
      background: #fd6342;
    }

    .sign_up {
      padding-left: 3vw;
      padding-right: 3vw;
      padding-top: 0.6vw;
      padding-bottom: 0.6vw;

      
      background: #fd6342;
      border-color: #fd6342;

      border-radius: 2px;
      font-weight: bold;
    }

    #top_menu li a:hover {
      color: #fd6342;
    }
    #calendar {
      width: 90%;
      margin-left: 5%;
    }
    #booking {
      padding-left: 3vw;
      padding-right: 3vw;
      padding-top: 0.6vw;
      padding-bottom: 0.6vw;
      background: #fd6342;
      color: white;
      margin: 3px;
    }
    #view_profile {
      padding-left: 2vw;
      padding-right: 2vw;
      padding-top: 0.6vw;
      padding-bottom: 0.6vw;
      border: 1px solid #fd6342;
    }
    #view_profile:hover {
      padding-left: 2vw;
      padding-right: 2vw;
      padding-top: 0.6vw;
      padding-bottom: 0.6vw;
      border: 1px solid #fd6342;
      background: #fd6342;
      color: white;
    }
    .cards {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    #btn {
      padding-left: 2vw;
      padding-right: 2vw;
      padding-top: 0.6vw;
      padding-bottom: 0.6vw;
      border: 1px solid #fd6342;
      background: #fd6342;
      color: white;
    }
    a:hover {
      text-decoration: none;
    }
  </style>

  <body>
    <%- include("../partial/top_menu.ejs")%>
    <br />
    <br />
    <br />
    <!-- Navbar -->

    <!-- Navbar -->

    <div class="container mt-5 pt-5">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 19rem">
            <div class="mt-5 ms-3">
              <img
                src="/img/profile.png"
                class="float-left"
                width="100"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title"><%=user.first_name%> <%=user.last_name%></h5>
              <p class="card-text">/ Admin</p>
            </div>
            <ul class="list-group list-group-flush">
              <!-- <a href="dashboard" class="list-group-item"
                ><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Request</a
              >
              <a href="add_doctor" class="list-group-item"
                ><i class="fa fa-user-plus" aria-hidden="true"></i> Add
                Doctor</a
              > -->
              <a
                href="totol_appointment"
                class="list-group-item"
                style="background: #fd6342"
                ><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;dashboard
                </a
              >
              <a href="user" class="list-group-item"
                ><i class="fa fa-list" aria-hidden="true"></i>&nbsp;User</a
              >
              
            </ul>
          </div>
        </div>
        <!--Request-->
        <div class="col-8">
          <div class="card">
            <div
              class="card-header text-white font-weight-bold"
              style="background: #fd6342"
            >
              <h4>Request</h4>
            </div>
            <div class="card-body">
              <!--profile-->
              <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <img
                        src="/img/profile.png"
                        class="float-left"
                        width="80"
                        alt="..."
                      />
                      <h5 class="card-title mt-2">Dr.Roman Sheraz</h5>
                      <p class="font-weight-light">Specialist: psychologist</p>
                      <p class="font-weight-light">
                        <b>Email:</b> romand3434@gmail.com
                      </p>
                      <div
                        class="btn-group"
                        role="group"
                        aria-label="Basic mixed styles example"
                      >
                        <button type="button" class="btn btn-success me-1">
                          Accept
                        </button>
                        <button type="button" class="btn btn-danger me-1">
                          Reject
                        </button>
                        <button type="button" class="btn btn-info">View</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <img
                        src="/img/profile.png"
                        class="float-left"
                        width="80"
                        alt="..."
                      />
                      <h5 class="card-title mt-2">Dr.Huzaifa</h5>
                      <p class="font-weight-light">Specialist:Psychatrist</p>
                      <p class="font-weight-light">
                        <b>Email:</b> romand3434@gmail.com
                      </p>
                      <div
                        class="btn-group"
                        role="group"
                        aria-label="Basic mixed styles example"
                      >
                        <button type="button" class="btn btn-success me-1">
                          Accept
                        </button>
                        <button type="button" class="btn btn-danger me-1">
                          Reject
                        </button>
                        <button type="button" class="btn btn-info">View</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--line2-->
              <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <img
                        src="/img/profile.png"
                        class="float-left"
                        width="80"
                        alt="..."
                      />
                      <h5 class="card-title mt-2">Dr.Ubaid Ur Rehman</h5>
                      <p class="font-weight-light">Specialist: psychologist</p>
                      <p class="font-weight-light">
                        <b>Email:</b> romand3434@gmail.com
                      </p>
                      <div
                        class="btn-group"
                        role="group"
                        aria-label="Basic mixed styles example"
                      >
                        <button type="button" class="btn btn-success me-1">
                          Accept
                        </button>
                        <button type="button" class="btn btn-danger me-1">
                          Reject
                        </button>
                        <button type="button" class="btn btn-info">View</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <img
                        src="/img/profile.png"
                        class="float-left"
                        width="80"
                        alt="..."
                      />
                      <h5 class="card-title mt-2">Dr.Israr Ahmad</h5>
                      <p class="font-weight-light">Specialist: psychologist</p>
                      <p class="font-weight-light">
                        <b>Email:</b> romand3434@gmail.com
                      </p>
                      <div
                        class="btn-group"
                        role="group"
                        aria-label="Basic mixed styles example"
                      >
                        <button type="button" class="btn btn-success me-1">
                          Accept
                        </button>
                        <button type="button" class="btn btn-danger me-1">
                          Reject
                        </button>
                        <button type="button" class="btn btn-info">View</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gray_background_color">
      <%- include("../partial/footer.ejs")%>
    </div>
  </body>
</html>
