<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6/index.global.min.js"></script>

        <%- include("../partial/head.ejs") %>
        <title>Document</title>
    </head>
    <style>
        body {
            padding: 0%;
            margin: 0%;
        }
        #top_menu li a {
            color: white;
        }
        .margin_item {
            margin-left: 60%;
        }
        .margin_item li {
            margin-left: 10px;
        }
        .orange_text_color {
            color: #fd6342;
        }
        .gray_text_color {
            color: #252b3b;
        }
        .orange_text_color {
            color: #fd6342;
        }
        .gray_background_color {
            background: #252b3b;
        }
        .orange_background_color {
            background: #fd6342;
        }

        .sign_up {
            padding-left: 3vw;
            padding-right: 3vw;
            padding-top: 0.6vw;
            padding-bottom: 0.6vw;

            background: #fd6342;
            border-color: #fd6342;

            border-radius: 2px;
            font-weight: bold;
        }

        #top_menu li a:hover {
            color: #fd6342;
        }
        #calendar {
            width: 90%;
            margin-left: 5%;
        }
        #btn {
            padding-left: 2vw;
            padding-right: 2vw;
            padding-top: 0.6vw;
            padding-bottom: 0.6vw;
            background: #fd6342;
            color: white;
            margin-left: 30%;
            margin-top: 7%;
        }
        .card_1 {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            width: 50%;
            margin-left: 5%;
        }
        .card_2 {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            width: 100%;
            margin-left: 5%;
        }
        input {
            outline-color: #fd6342;
        }
    </style>

    <body>
        <%- include("../partial/top_menu.ejs")%>
        <br />
        <br />
        <br />
        <form action="/user/payment_process" method="post">
            <div class="row">
                <div class="col-5">
                    <div class="p-card bg-white p-2 rounded px-3 card_1">
                        <div class="row">
                            <div class="col-12">
                                <h5>
                                    Payemnt summary
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5" style="text-align: center;">
                                <img src="/uploads/<%=result[0].image%>" alt="" width="80px" />
                            </div>
                            <div class="col-7">
                                <div class="row">
                                    <div class="col-12">
                                        <%=result[0].first_name%> <%=result[0].last_name%> 
                                    </div>
                                    <div class="col-12">
                                        City: <%=result[0].city%>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-7">
                                Date
                            </div>
                            <div class="col-5">
                                <%=appointment_date%>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                Time
                            </div>
                            <div class="col-5">
                                <%=appointment_time%>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                Councelling fee
                            </div>
                            <div class="col-5">
                                $<%=result[0].councelling_fee%>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                Booking fee
                            </div>
                            <div class="col-5">
                                $<%=result[0].booking_fee%>
                            </div>
                        </div>
                        <br />
                        <div class="row" style="color: #fd6342;">
                            <div class="col-7">
                                Total fee
                            </div>
                            <div class="col-5">
                                $<%=Number(result[0].councelling_fee)+Number(result[0].booking_fee)%>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="/user/payment_process" method="post">
                <div class="col-7" style="margin-left: -10%;">
                    <div class="p-card bg-white p-2 rounded px-3 card_2">
                        <div class="row">
                            <div class="col-12">
                                <h5>
                                    
                                    Personal information
                                </h5>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <input type="text" name="appointment_date" id="appointment_date" hidden value="<%=appointment_date%>" />
                            <input type="text" name="appointment_time" id="appointment_time" hidden value="<%=appointment_time%>" />
                            <input type="text" name="doctor_id" id="doctor_id" hidden value="<%=doctor_id%>" />
                            <div class="col-5">
                                <input type="text" name="first_name" id="first_name" placeholder="First name" size="23vw" value="<%=result[0].first_name%>" readonly/>
                            </div>
                            <div class="col-5">
                                <input type="text" name="last_name" id="last_name" placeholder="Last name" size="20vw" value="<%=result[0].last_name%>" readonly/>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-5">
                                <input type="email" name="email" id="email" placeholder="Email" size="23vw" value="<%=result[0].email%>" readonly/>
                            </div>
                            <div class="col-5">
                                <input type="text" name="phone" id="phone" placeholder="Phone" size="20vw" value="<%=result[0].phone%>" readonly/>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-12">
                                <h5>
                                    Payment method
                                </h5>
                            </div>
                        </div>
                        <br />
                        <!-- <div class="row">
                            <div class="col-5">
                                <input type="text" name="card_name" id="" placeholder="Name on card" size="23vw" />
                            </div>
                            <div class="col-5">
                                <input type="text" name="card_no" id="" placeholder="Card no" size="20vw" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-3">
                                <input type="text" name="expiry_year" id="" placeholder="Expiry year" size="12vw" />
                            </div>
                            <div class="col-3">
                                <input type="text" name="expiry_month" id="" placeholder="Expiry month" size="12vw" />
                            </div>
                            <div class="col-3">
                                <input type="text" name="cvv" id="" placeholder="CVV" size="12vw" />
                            </div>
                        </div>
 -->
                        <br />
                       <!--  <div class="row">
                            <div class="col-1">
                                <input type="checkbox" name="agree" id="agree" />
                            </div>
                            <div class="col-10">I have read and confirm <a href="">Term & conditions</a></div>
                        </div> -->
                        <br>

                        <div class="row">
                            <div class="col-12">
                                <!-- <input type="submit" value="Confirm and pay" name="submit" class="btn" id="btn" /> -->
                                <script
                                src="//checkout.stripe.com/v2/checkout.js"
                                class="stripe-button"
                                data-key="<%= key %>"
                                data-amount=<%=Number(result[0].councelling_fee)+Number(result[0].booking_fee)+"00"%>
                                data-currency="usd"
                                data-name="<%=result[0].first_name%> <%=result[0].last_name%>"
                                data-description="Book appointment"
                                data-locale="auto"
                                
                            ></script>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        
        
        <br />
        <br />
        <br />

        <div class="gray_background_color">
            <%- include("../partial/footer.ejs")%>
        </div>
    </body>
</html>
